.detalles-adicionales {
    color: #fff; /* Letras blancas */ 
    padding: 20px;
    margin: 10px;
  }
  
  .summary {
    color: #fff; /* Letras blancas */
    line-height: 1.8;
    font-size: 16px;
  }
  